/*********************************************** 
                Google fonts
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@400;500&display=swap');

/*********************************************** 
                Default CSS
***********************************************/

:root {
    --font-base: 'Plus Jakarta Sans', sans-serif;
    --font-alt:  'Poppins', sans-serif;

    --color-primary: #4368C7;
    --color-white: #fff;
    --color-dark: #2D2A27;
    --color-light: rgba(45, 42, 39, 0.5);

    --section-padding-one: 168px;
    --section-padding-two:130px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* width: 1460px; */
    max-width: 1460px;
    margin: 0 auto;
}

body {
    font-family: var(--font-alt);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    overflow-x: hidden;
    background-color:var(--color-white);
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 101px;
    font-family: var(--font-base);
    color: var(--color-dark);
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    font-family: var(--font-base);
    color: var(--color-dark);
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-alt);
    color: var(--color-light);
}

/*********************************************** 
                Main CSS
***********************************************/
.nav__area {
    padding-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav__area-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__area-main-menu ul{
    display: flex;
    gap: 2rem;
}

.nav__area-main-menu ul li a{
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-dark);
}

.nav__area-login {
    display: flex;
    gap: 2rem;
}

.nav__area-login a{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: var(--font-base);
    border: 1.5px solid rgba(67, 104, 199, 0.2);
    border-radius: 5px;
    color: var(--color-primary);
}

.nav__area-login a:nth-child(2){
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* small menu css */
.nav__area-sm-menu {
    background-color: var(--color-white);
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.nav__area-sm-menu-content_link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s;
}

.nav__area-sm-menu-content_link a:first-child {
    border-top: 1px solid #eee;
}

.nav__area-hamburger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

/* dropdown */
li.dropdown__item {
    display: flex;
}

.dropdown__menu {
    position: relative;
    
}

.nav__area-main-menu ul img {
    width: 24px;
    height: 24px;
    float: right;
}

.dropdown__menu-item ul {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
    background: var(--color-white);
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.dropdown__menu-item ul li {
    font-family: var(--font-base);

}

.dropdown__menu-item ul li a{
    font-family: var(--font-base);
    color: var(--color-light);
    border-bottom: 1px solid #eee;
}
 
.nav__area-main-menu ul li:hover .dropdown__menu-item ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}



/*************************************************
 Media Queries -  Medium And Small Screens 
 *************************************************/
 @media screen and (max-width: 1024px) {
    /* nav area css */
    .nav__area {
        padding: 1rem 2rem;
    }

    .nav__area-main-menu {
        display: none;
    }
    .nav__area-login {
        display: none;
    }
    .nav__area-hamburger-menu {
        display: flex;
    }
    .d_none {
        display: none;
    }
    .sm__menu-open {
        visibility: visible;
        opacity: 1;
        top: 10%;
        left: 0;
        transition: all .3s;
    }
    /* nav area css ends */

 }