/*********************************************** 
                Google fonts
***********************************************/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&family=Poppins:wght@400;500&display=swap');

/*********************************************** 
                Default CSS
***********************************************/

:root {
    --font-base: 'Plus Jakarta Sans', sans-serif;
    --font-alt:  'Poppins', sans-serif;

    --color-primary: #4368C7;
    --color-white: #fff;
    --color-dark: #2D2A27;
    --color-light: rgba(45, 42, 39, 0.5);

    --section-padding-one: 168px;
    --section-padding-two:130px;
    --section-padding-three:75px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1460px;
    margin: 0 auto;
}

body {
    font-family: var(--font-alt);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    overflow-x: hidden;
    background: #F5F8FD;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 101px;
    font-family: var(--font-base);
    color: var(--color-dark);
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    font-family: var(--font-base);
    color: var(--color-dark);
}

p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    font-family: var(--font-alt);
    color: var(--color-light);
}

.content__gap {
    gap: 100px;
}

.content__gap2 {
    gap: 62px;
}

.extra-padding {
    padding-top: 60px;
}



/*********************************************** 
                Main CSS
***********************************************/
.nav__area {
    padding-top: 50px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav__area-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__area-main-menu ul{
    display: flex;
    gap: 2rem;
}

.nav__area-main-menu ul li a{
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--color-dark);
}

.nav__area-login {
    display: flex;
    gap: 2rem;
}

.nav__area-login a{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-family: var(--font-base);
    border: 1.5px solid rgba(67, 104, 199, 0.2);
    border-radius: 5px;
    color: var(--color-primary);
}

.nav__area-login a:nth-child(2){
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* small menu css */
.nav__area-sm-menu {
    background-color: var(--color-white);
    position: absolute;
    width: 100%;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.nav__area-sm-menu-content_link a {
    display: block;
    text-decoration: none;
    padding: 2.5rem 3rem;
    font-size: 1.6rem;
    color: #333;
    text-align: right;
    border-bottom: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s;
}

.nav__area-sm-menu-content_link a:first-child {
    border-top: 1px solid #eee;
}

.nav__area-hamburger-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

/* dropdown */
li.dropdown__item {
    display: flex;
}

.dropdown__menu {
    position: relative;
    
}

.nav__area-main-menu ul img {
    width: 24px;
    height: 24px;
    float: right;
}

.dropdown__menu-item ul {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-gap: 10px;
    background: var(--color-white);
    padding: 13px;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.dropdown__menu-item ul li {
    font-family: var(--font-base);

}

.dropdown__menu-item ul li a{
    font-family: var(--font-base);
    color: var(--color-light);
    border-bottom: 1px solid #eee;
}
 
.nav__area-main-menu ul li:hover .dropdown__menu-item ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}


/***************************************************
 hero area start 
 ***************************************************/
.hero__area {
    padding-top: var(--section-padding-two);
    /* height: 100vh; */
    width: 100%;
}

.hero__area-left h1 {
    font-family: var(--font-base);
    font-family: var(--color-dark);
    font-weight: 600;
    font-size: 80px;
    line-height: 101px;
}

.hero__area-left h1 span, .hero__area-left p span{
    color: var(--color-primary);
}

.hero__area-left p {
    margin-top: 30px;
}

.hero__area-left-button-box {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.hero__area-left-button-box a {
    font-family: var(--font-alt);
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 22px 25px;
    font-weight: 400;
    border-radius: 10px;
}

.hero__area-left-button-box a i{
    vertical-align: middle;
    font-size: 24px;
    margin-left: 10px;
}

.hero__area-left-button-box a:last-child{
    background-color: rgba(79, 134, 213, 0.2);
    color: var(--color-primary);
}

.hero__area-right img {
    width: 592.93px;
    height: 602px;
}


/***************************************************
 brands area start 
 ***************************************************/
.brands_area {
    padding-top: var(--section-padding-two);
    width: 100%;
}

.brands_area-images {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-radius: 10px;
    background: #ffffff;
    position: relative;
}

.brands_area-images::before {
    position: absolute;
    background: url(/images/Vector-main.svg);
    content: '';
    width: 46px;
    height: 46px;
    right: -6px;
    top: 0px;
}

.brands_area-images img {
    width: 100%;
    height: 45px;
    object-fit: contain;
    
}

/***************************************************
features_area start
***************************************************/

.features_area {
    padding-top: var(--section-padding-two);
}

.features_area-theme-heading {
    text-align: center;
}

.features_area-theme-heading h2{
    
}

.features_area-theme-heading h2 span.features_area-theme-heading-front{
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 5px 10px;
    font-weight: 600;
}

.features_area-theme-heading h2 span.features_area-theme-heading-last {
    position: relative;
    font-weight: 600;
}

.features_area-theme-heading-last::after {
    position: absolute;
    content: '';
    background-color: #c3cee9;
    width: 100%;
    height: 16px;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.features_area-theme-heading p{
    margin-top: 30px;
}

.features_area-theme-heading p span{
    color: var(--color-primary);
}

.features_area-left {
    background: var(--color-primary);
    display: flex;
    width: 963px;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.features_area-left-content {
    padding: 30px;
}

.features_area-left-content h2 {
    color: var(--color-white);
}
.features_area-left-content p {
    color: var(--color-white);
    margin-top: 18px;
}

.features_area-left-image img {
    width: 295px;
    
}


.features_area-features {
    display: flex;
    width: 963px;
    gap: 20px;
    padding-top: 40px;
}

.features_area-feature img {
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    padding: 5px 7px;
    border-radius: 5px;
    display: inline;
}

.features_area-feature {
    background-color: var(--color-white);
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
}

.features_area-feature h2 {
    font-size: 20px;
}

.features_area-feature p {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.features_area-right {
    width: 435px;
    height: auto;
    border-radius: 20px;
    border: 2px solid rgba(1, 111, 208, 0.05);
    background: #E9EFFF;
    z-index: 1;
}

.features_area-right-content {
    padding: 39px 30px;
}

.features_area-right-content h2 {
    font-size: 30px;
}

.features_area-right-content h2 span {
    position: relative;
}

.features_area-right-content h2 span:after {
    position: absolute;
    content: '';
    background-color: #c3cee9;
    width: 100%;
    height: 16px;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.features_area-right-content p {
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
}

.features_area-right-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.features_area-right-content-img img {
    width: 266.561px;
    flex-shrink: 0;
}

/***************************************************
paytract_area start
***************************************************/
.paytract_area {
    padding-top: var(--section-padding-two);
}

.paytract_area-left img {
    width: 552px;
}

.paytract_area .features_area-theme-heading {
    text-align: left;
}

.paytract_area .content {
    justify-content: unset;
    gap: 208px;
}
.paytract_area-right-contents {
    margin-top: 40px;
}

.paytract_area-right-contents p {
    display: flex;
    align-items: baseline;
    gap: 7px;
    margin-bottom: 20px;
}

.paytract_area-right-contents p img{
    width: 20px;
    height: 20px;
    padding-top: 4px;
}








































/*************************************************
 Media Queries -  Medium And Small Screens 
 *************************************************/
 @media screen and (max-width: 1024px) {

    .container {
        width: 90%;
    }

    /* nav area css */
    .nav__area {
        padding: 1rem 0rem;
    }

    .nav__area-main-menu {
        display: none;
    }
    .nav__area-login {
        display: none;
    }
    .nav__area-hamburger-menu {
        display: flex;
    }
    .d_none {
        display: none;
    }
    .sm__menu-open {
        visibility: visible;
        opacity: 1;
        top: 6%;
        left: 0;
        transition: all .3s;
    }
    /* nav area css ends */

    /* hero__area css */
    .hero__area {
        height: fit-content;
        padding: 75px 0;
    }

    .hero__area .content__gap {
        gap: 40px;
    }

    .hero__area-left h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .hero__area-left p {
        margin-top: 20px;
        font-size: 20px;
        line-height: 32px;
    }

    .hero__area-left-button-box {
        margin-top: 39px;
    }

    .hero__area-left-button-box a {
        font-size: 16px;
        padding: 18px 23px;
    }

    .hero__area-right img {
        width: 100%;
        height: auto;
    }

    /* hero__area css ends */

    /* brands_area css */
    .brands_area {
        padding-top: var(--section-padding-three);
    }

    .brands_area-images {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
        padding: 20px;
    }
    
    .brands_area-images img {
        width: auto;
        height: 35px;
    }

    /* features_area css */
    .features_area-left-box, .features_area-left, .features_area-features, .features_area-right {
        width: 100%;
    }
    
    .extra-padding {
        flex-direction: column;
    }
    .features_area-left-content h2 {
        font-size: 30px;
    }
    .features_area-left-content p {
        margin-top: 16px;
    }

    /* paytract_area css */
    .paytract_area .content {
        flex-direction: column-reverse;
        gap: 65px;
    }
    
    
 }

 /*************************************************
 Media Queries -  Small Screens 
 *************************************************/
 @media screen and (max-width: 600px) {

    .sm__menu-open {
        top: 9%;
    }

    /* hero area css */
    .hero__area .content {
        flex-direction: column-reverse;
    }

    .hero__area-left {
        text-align: center;
    }

    .hero__area-left-button-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* brands_area css */
    .brands_area-images {
        flex-direction: column;
    }

    /* feature area css*/
    .features_area-left {
        flex-direction: column;
    }

    .features_area-left-content h2 {
        font-size: 26px;
    }

    .features_area-left-content {
        text-align: center;
    }

    .features_area-features {
        flex-direction: column;
    }

    /* paytract_area */
    .paytract_area-left img {
        width: 100%;
    }


 }